.menu{
  background-color:#FFE032;
}

.encabezado {
  background-color: #ffffff;
  display:inline-block;
  padding-right:
}

.col {
  display:inline-block;
}

#ver-sedes {

  background: ;
}

#button {
  background: red;
}
