.menu{
  background-color:#FFE032;
}

.encabezado {
  background-color: #ffffff;

  padding-right;

}

.col {
  padding-top: 8px;
     padding-bottom: 8px;
     text-align: center;
     margin-top: 0px;
     margin-bottom: 0px;
}
.login{

     vertical-align: auto;
     margin: auto;
     width: 50%;
     max-width: 400px;
     padding: 40px 60px;
     margin: 30px;
     margin-left: 350px;
     background-color: white;
}
.form-group{
  align-self: center;
}
#ver-sedes {

  background: red;
}

#button {
  background: red;
}


Añadir comentarioContraer 
